<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>357611819169-emu89h2orvkbe5lhsq6apaqejk8lpcg1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.357611819169-emu89h2orvkbe5lhsq6apaqejk8lpcg1</string>
	<key>API_KEY</key>
	<string>AIzaSyAIPuZKIPPGic61YNeEsB5ZvMF7Y3--fO4</string>
	<key>GCM_SENDER_ID</key>
	<string>357611819169</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mtechviral.coronavirus</string>
	<key>PROJECT_ID</key>
	<string>coronavirus-app-97ece</string>
	<key>STORAGE_BUCKET</key>
	<string>coronavirus-app-97ece.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:357611819169:ios:36427f24d2ad2f54e1e0e0</string>
	<key>DATABASE_URL</key>
	<string>https://coronavirus-app-97ece.firebaseio.com</string>
</dict>
</plist>